*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.vscode
.*.sw?
.sw?
.DS_Store
coverage
test
*.sqlite
*.db
venv*
pip-wheel-metadata
node_modules/
dist/
maxmind_db/
.mapbox-token
docs/_build/