extends ../layout/main

block content
    .container
        h1 Result of
            i  'ressource'

        .siimple-grid
            .siimple-grid-row
                .siimple-grid-col.siimple-grid-col--5
                    p gna

                .siimple-grid-col.siimple-grid-col--7
                    p gna
