.siimple-navbar.siimple-navbar--dark.siimple-navbar--fluid
    a.siimple-navbar-title Netwark
    a.siimple-navbar-item(href='/') Overview
    .siimple--float-right
        a.siimple-navbar-item.siimple-btn.siimple-btn--green(href='/') New operation