$icomoon-font-family: "netwarkcon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-plus: "\f067";
$icon-minus: "\f068";
$icon-heart: "\f004";
$icon-check: "\f00c";
$icon-close: "\f00d";
$icon-remove: "\f00d";
$icon-times: "\f00d";
$icon-home: "\f015";
$icon-clock-o: "\f017";
$icon-play: "\f04b";
$icon-pause: "\f04c";
$icon-stop: "\f04d";
$icon-eye: "\f06e";
$icon-random: "\f074";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-cogs: "\f085";
$icon-gears: "\f085";
$icon-sign-out: "\f08b";
$icon-github: "\f09b";
$icon-wrench: "\f0ad";
$icon-bolt: "\f0e7";
$icon-flash: "\f0e7";
$icon-sitemap: "\f0e8";
$icon-angle-up: "\f106";
$icon-angle-down: "\f107";
$icon-mail-reply: "\f112";
$icon-reply: "\f112";
$icon-sliders: "\f1de";
$icon-question-circle-o: "\f29c";
$icon-thermometer-3: "\f2c8";
$icon-thermometer-three-quarters: "\f2c8";
$icon-microchip: "\f2db";
$icon-infinite: "\ea2f";

