doctype html
html
    head
        title !{siteOptions['pageTitle']} - Netwark
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")

        link(rel="stylesheet", href="/static/css/app.css")

    body
        include ../components/navbar
        include ../components/operation_modal

        block content

        block javascript
            script(src="/static/js/app.js")
